@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: "Radio Canada", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#29251c, #2c2306);
  color: #aeb5c1;
  min-height: 100vh;
}
button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
p {
  line-height: 1.6;
}
a{
  color: inherit;
  text-decoration: none;
}
.header {
  padding: 6.2rem;
}
.main-nav {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.logo img {
  width: 3rem;
  border-radius: 50%;
}
.cart-btn {
  position: fixed;
  right: 5%;
  z-index: 10;
}
.cart-btn span {
  position: absolute;
  right: -3px;
  top: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #312c1d;
  color: #aeb5c1;
  font-weight: 700;
  font-size: 0.8rem;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2.4rem;
  gap: 5.2rem;
  align-items: center;
}
.hero-text-box {
  width: 100%;
}
.hero-text-box h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Chelsea Market", sans-serif;
  color: #9b6904;
  line-height: 1.1;
}

.hero-img {
  width: 80%;
}
.btn {
  margin-top: 2rem;
  padding: 0.8rem 2.4rem;
  border-radius: 14px;
  transition: all 600ms ease-in;
}
.btn--primary {
  background-color: #9b6904;
  color: white;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: #5c4704;
}
.icon {
  color: #ffc404;
  font-size: 1.8rem;
  vertical-align: middle;
  margin-left: 1rem;
}
#meals {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.meal-item {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item-description {
  margin: 1rem;
}

.meal-item-price {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}
.loading,.error{
  text-align: center;
  margin: 2rem auto;
}
.loading{
  animation: loading 600ms infinite;
}
.cart h2 {
  margin: 1rem 0;
}


.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 .4rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  margin: 0.5rem 0;
}

.cart-item span:nth-child(1) {
  justify-self: start;
}
.cart-item span, .cart-item div {
  justify-self: end;
}
.cart-item button {
  background-color: #9b6904;
  color: #fff;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  font-weight: 700;
  margin: 0 1.2rem;
  cursor: pointer;
}
.cart-item-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.modal {
  background-color: #e4ddd4;
  position: fixed;
  /* right: 50%; */
  top: 20%;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  margin: auto;
  animation: fade-slide-up 0.3s ease-out forwards;
  z-index: 100;
}

.backdrop{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: #1d1a169f;
  backdrop-filter: blur(8px);
  z-index: 99;
}

.center {
  text-align: center;
}

.error {
  width: 90%;
  max-width: 25rem;
  padding: 1rem;
  background-color: #f9b8b8;
  color: #6d0b0b;
  border-radius: 6px;
}

.error h2 {
  margin: 0;
}

.error p {
  margin: 0;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loading {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

