@media (max-width: 68em) {
  html {
    font-size: 80%;
  }
  .hero-img {
    width: 100%;
  }
}
@media (max-width: 53em) {
  html {
    font-size: 74%;
  }
}
@media (max-width: 48em) {
  .header {
    padding: 2.4rem 2rem;
  }
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
  .hero-img {
    width: 70%;
  }
}
